
# Playwright
node_modules/
/tests/example.spec.ts
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
createDir.js

# Node.js padrão
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml

# Logs
*.log
logs
*.pid
*.seed
*.pid.lock

# Diretórios de build
dist/
build/
tmp/
temp/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente (credenciais)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
coverage/

# IDEs e editores
.vscode/
.idea/
*.swp
